<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #FF7577;
}
.container {
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
}
.snake {
  position: absolute;
  transition: transform 500ms;
  width: 100%;
  transform: translateY(-50%);
  top: 86%;
}
.snake path {
  fill: none;
  stroke: black;
  stroke-dasharray: 29 100;
  stroke-width: 1.5px;
}
.pos1 .snake {
  transform: translateX(33.33%) translateY(-50%);
}
.pos2 .snake {
  transform: translateX(66.67%) translateY(-50%);
}
.left .snake path {
  stroke-dashoffset: 0;
  transform: translateX(0);
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}
.right .snake path {
  stroke-dashoffset: -70px;
  transform: translateX(-60%);
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}
.instant .snake path {
  transition: none;
}
.menu {
  display: flex;
  height: 100px;
  left: 9px;
  position: relative;
}
.item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 136px;
}
.icon {
  width: 50px;
}
